<div class="background">
  <div class="container">
    <h2 class="forgot-password-header">Forgot Password?</h2>

   
    <div *ngIf="showMessage" class="toaster" [ngClass]="{'success': messageType === 'success', 'error': messageType === 'error'}">
      {{ message }}
    </div>

    <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input 
          type="email" 
          id="email" 
          placeholder="Enter email" 
          required 
          [(ngModel)]="email" 
          name="email" 
          #emailField="ngModel"
          pattern="^(?!.*\.\.)[a-zA-Z0-9._%-]+@[a-zA-Z]+(\.[a-zA-Z]{2,})+$">
        
        <div class="error-message" *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">
          <div *ngIf="emailField.errors?.['required']">Email is required.</div>
          <div *ngIf="emailField.errors?.['pattern']">Please enter a valid email address.</div>
        </div>
      </div>
      <button type="submit" class="btn" [disabled]="forgotPasswordForm.invalid">Submit</button>
    </form>
  </div>
</div>
