

.container {
 
  width: 100vw; /* Set width to viewport width */
  height: 100vh; /* Ensure full height of the viewport */
  padding: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden; /* Prevent overflow if needed */
}


.form-wrapper {
  width: 100%;
  max-width: 400px;
  margin-top: 70px;
}


.form-card {
  background-image: url('/assets/login.jpg');
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
}


.form-header {
  text-align: center;
  margin-bottom: 20px;
}



.form-body {
  margin-bottom: 30px;
}


.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
}


.form-submit {
  margin-top: 10px;
}

.form-submit .btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: rgb(249, 245, 245);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-submit .btn:hover {
  background-color: #0056b3;
}


.form-footer {
  text-align: center;
  margin-top: 15px;
}

.form-footer small {
  color: #0d0c0c;
  font-weight:bold;
  font-size: medium;
}

.form-footer a {
  color: #084c93;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}
.toaster {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #4caf50; /* Default to success */
  color: white;
  text-align: center;
  font-size: 16px;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.toaster.success {
  background-color: #218924b0;
}

.toaster.error {
  background-color: #f44336;
}

.toaster.hidden {
  opacity: 0;
}
.error-message {
  color: red;
  font-size: 0.875rem; 
  margin-top: 5px;     
}
.background {
  background-image: url('/assets/loginback.jpg');
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center; 
}
