<div class="container">
  <h4 class="forgot-password-header">Reset Password</h4> 
  <form (ngSubmit)="onSubmit()">
      <input type="hidden" [(ngModel)]="token" name="token">
      <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required placeholder="Enter new password">
      </div>
      <button type="submit" class="btn">Reset Password</button>
      <div *ngIf="message">{{ message }}</div>
  </form>
</div>
